<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/jquery-1.11.2.min.js"></script>
  <script>
    $(function(){

      $("#btnJoin").click(
              function(){

                if($("#id").val() == "")
                {
                  alert("아이디를 꼭 입력 하세요");
                  $("#id").focus();
                  return ;
                }
                if($("#passwd").val() == "")
                {
                  alert("비밀번호를 꼭 입력 하세요");
                  $("#passwd").focus();
                  return ;
                }
                if($("#name").val() == "")
                {
                  alert("이름을 꼭 입력 하세요");
                  $("#name").focus();
                  return ;
                }
                if($("#email").val() == "")
                {
                  alert("이메일을 꼭 입력 하세요");
                  $("#email").focus();
                  return ;
                }
                $("#joinForm").submit();

              }
      );

    });
  </script>
</head>
<body>
<h1><%= title %></h1>
<form id="joinForm" action="/sign_up" method="post">
  <table width="400" border="1">
    <tr>
      <th>아이디</th>
      <td><input type="text" name="id" id="id" size="12" maxLength="12"></td>
    </tr>
    <tr>
      <th>비밀번호</th>
      <td><input type="password" name="passwd" id="passwd" size="12" maxLength="12"></td>
    </tr>
    <tr>
      <th>이름</th>
      <td><input type="text" name="name" id="name" size="10" maxLength="10"></td>
    </tr>
    <tr>
      <th>이메일</th>
      <td><input type="email" name="email" id="email" size="30" maxLength="50"></td>
    </tr>

    <tr>
      <td colspan="2">
        <input type="button"  id="btnJoin" name="join" value="가입">
        <input type="reset" name="cancel"value="취소">
      </td>
    </tr>
  </table>
</form>


</body>
</html>
